.button {
    border: 1 px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {background-color: #008CBA;} /* Blue */
  
  h1{
    font-size: 84px;
    text-align: center;
    font-family: 'Orelega One', cursive;
    background-image: url("circle-blues.png");
    color:white
 }
 
 body{
    font-size: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #abb7c2;
 }
 
 * {
   box-sizing: border-box;
 }
 
 form.example input[type=text] {
   padding: 10px;
   font-size: 17px;
   border: 1px solid grey;
   float: left;
   width: 80%;
   background: #f1f1f1;
 }
 
 form.example button {
   float: left;
   width: 20%;
   padding: 10px;
   background: #2196F3;
   color: white;
   font-size: 17px;
   border: 1px solid grey;
   border-left: none;
   cursor: pointer;
 }
 
 form.example button:hover {
   background: #0b7dda;
 }
 
 form.example::after {
   content: "";
   clear: both;
   display: table;
 }